:root {
    --white: #FFFFFF;
    --black: #000000;
    --very--light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}
* {
    background-color:#98af33;
}
body{
    
    width: 100%;
    height: auto;
    font-family: phudu;
}
header{
    font-style: var(--black);
    font-weight: bold;
}
div {
    display: flexbox;
    flex-direction: column;
    margin: 50px 0 50px;
}
.fotos img {
    width: 250px;
    height: 250px;
    border-radius: 20px;
    object-fit: cover;
}
main {
    font-weight: bold;
}
.botones button {
    background-color: var(--hospital-green);
      border-radius: 8px;
      border: none;
      width: 10%;
      color: var(--black);
      cursor: pointer;
      font-size: var(--md);
      font-weight: bold;
      height: 30px;
}
.whatsapp-icon {
    display: inline-block;
    background-color: #25D366; /* Color de fondo de WhatsApp */
    color: white;
    font-size: 24px;
    width: 100%;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
}

.whatsapp-icon:hover {
    background-color: #128C7E; /* Color de fondo al pasar el mouse */
}