* {
    background-color: white;
}
body{
    width: 100%;
    height: auto;
}
div {
    display: flex;
    flex-direction: row;
    //align-items: center;
    //justify-content: space-between;
}
.fotos img {
    width: 250px;
    height: 250px;
    border-radius: 20px;
}
